.main_header{
  background-color: #f50057;
  padding: 24px;
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.finalResume{
    border:2px solid rgba(19, 17, 17, 0.92);
    background-color: rgb(133, 167, 156);
    border-radius: 12px;
    padding: 24px;
    max-width: 700px;
    min-width: 600px;

}
p{
  font-family: "cursive";
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
}
h4{
  font-size: 25px;
  text-decoration: underline;
  letter-spacing: 1.2px;
}
h2{
  font-size: 18px;
  letter-spacing: 1px;
}
h2>span,span{
  font-family: Monospace;
  font-weight:normal;
  font-size: 15px;
  letter-spacing: 0.5px;
}
